.carousel-item{
    max-height: 80vh;
}

.carousel-item img{
    width: 100%
}

.homeCarousel{
}

.carouselCaption{
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 5%;
    font-weight: 700;
}