.gameDeal{
display: flex;
padding: 10px 14px 10px 14px;
align-items: center;
color: white;
background-color: rgba(72, 89, 100, 0.445);
border: 1px solid white;
margin-bottom: 20px;
transition: all 0.3s ease-in;
}

.gameDeal:hover{
background-color: rgb(37, 37, 37);
color: rgb(216, 216, 216);
}

.dealLink{
    color:rgb(255, 255, 255);
    text-decoration: underline;
    transition: all 0.2s ease-in;
}

.dealLink:visited{
    color: rgb(255, 255, 255);
}

.dealLink:hover{
    color: rgb(58, 150, 255);
}

.dealThumb{
    width: 160px;
    height: 70px;
    margin-right: 35px;
    border: 1px solid white;
}

.dealTitle{
    margin-right: 15px;
}

.listTitle{
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}

.listDesc{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dealNormal{
    margin-left: auto;
    margin-right: 15px;
    color: red;
    text-decoration: line-through;
}

.dealPrice{
}
 
  